<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name=robots content="noindex, nofollow">
    <title>正在跳转...</title>
    <link rel="shortcut icon" href="{{ $.Site.Params.images.favicon }}">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>    
    <script src="{{ absURL "js/common.js"}}"></script> 
</head>
<body>
    正在跳转，请稍候...
    <script type="text/javascript">
        setTimeout(() => {            
            const params = new URLSearchParams(window.location.search);
            const redirect = params.get('redirect');
            if(redirect && redirect.includes('moely.link'))  window.location.href = redirect;
            else window.location.href = "/";
        }, 1000);
    </script>
</body>
